

:root {
	--color-bg: #fdfdfd;
	--color-surface: #ffffff;
	--color-text: #27272a;
	--color-text-muted: rgba(39, 39, 42, 0.7);
	--color-border: rgba(39, 39, 42, 0.1);

	--font-sans: var(--font-manrope), sans-serif, -apple-system, system-ui;
	--font-title: var(--font-switzer), -apple-system, sans-serif,system-ui;
	--font-mono: var(--font-ibmplexmono), monospace;
	scroll-behavior: smooth;

}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid var(--color-border);
}

::-webkit-scrollbar-thumb {
    background: var(--color-border);
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

::-webkit-scrollbar-thumb:hover {
    border-color: var(--color-text);
}

::-webkit-scrollbar-thumb:active {
    background: var(--color--muted);
}


html {
  height: 100%;
  background: var(--color-bg);
  background-color: var(--color-bg);
  overscroll-behavior: none;
  width: 100%;
}

body {
	min-height: 100vh;
	height: 100%;
	margin: 0;
	background: var(--color-bg);
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-sans);
    font-weight: 300;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	overscroll-behavior: none;
	width: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--color-text);
	font-family: var(--font-title);
    font-weight: 200;
}

h1 {
	letter-spacing: -0.01em;
	line-height: 1.2;
    font-size: 2.125rem;
}

p {
	margin: 0;
	color: var(--color-text);
	color: inherit;
}

a {
	color: inherit;
	text-decoration-color: var(--color-text-muted);
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}