---
import { Font } from "astro:assets";


---
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="" />
<title>finnh.ca</title>

<link rel="stylesheet" href="/styles/global.css" />

<Font cssVariable='--font-manrope' preload />
<Font cssVariable='--font-ibmplexmono' preload />
<Font cssVariable='--font-switzer' preload />
</head>